body {
  font-family: "brandon-grotesque";
  margin: 0;
  text-rendering: optimizeLegibility;
  color: #393939;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin-right: 0.3em;
  display: inline-block;
}

h3 {
  font-family: "brandon-grotesque";
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.19em;
  font-weight: 600;
}

h4 {
  font-family: "freight-sans-pro";
  font-size: 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.health h4 {
  color: #f55949;
}

.location h4 {
  color: #47b3e6;
}

.social h4 {
  color: #9acc54;
}

span {
  font-size: 2.25em;
  font-weight: 400;
  display: block;
  line-height: 1.3em;
}

.row {
  display: table;
  width: 100%;
  margin: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.row + .row {
  border-top: 0px;
}

.cell {
  display: table-cell;
  float: left;
  padding: 5px 25px 5px 0px;
}

.cell + .cell {
    border-left: 1px solid #999;
    padding-left: 10px;
}

.full {
  padding-right: 0px;
}

.box {
  height: 198px;
}

.list {
  font-size: 16px;
  padding-top: 5px;
}

.onefourth {
  width: 24%;
  float: left;
  text-align: right;
  padding-top: 5px;
}

.threefourths {
  width: 75%;
  float: left;
  padding-top: 5px;
  padding-right: 1%;
}

.detail {
  color: #bcbcbc;
  font-size: 18px;
}

.block {
  margin-bottom: 40px;
}

.section-title {
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 25px 0;
  width: 100%;
}

.person {
  height: 400px;
  background: #3a3d42;
  color: #fff;
}

.name {
  width: auto;
  line-height: .5em;
  padding: 10px 0;
  margin-top: 150px;
  border-bottom: 1px solid #fff;
}

.health-section {
  background: #f55949;
  display: block;
  margin-bottom: 40px;
}

.location-section {
  background: #47b3e6;
  display: block;
  margin-bottom: 40px;
}

.social-section {
  background: #9acc54;
  display: block;
  margin-bottom: 40px;
}



img {
  width: 100%;
}

/* SPECIFICS */
.foursquare {
  border-bottom: none;
  padding-bottom: 10px;
}

.inner {
  border-top: 0;
  padding-bottom: 10px;
}

.instaphoto {
  float: left;
  width: 100%;
  padding-top: 10px;
}

.lastfmphoto {
  width: 100px;
  padding: 10px 0;
  float: left;
}
