body {
  font-family: "proxima-nova-soft",sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "effra",sans-serif;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: inline-block;
  text-transform: uppercase;
}

span {
  display: block;
  line-height: 1em;
  margin-right: .5em;
}

ul {
  padding: none;
  margin: none;
  list-style: none;
}

ul li {
  display: inline-block;
  padding: 10px 20px 10px 0px;
  border-bottom: 1px solid #999;
}

.detail {
  color: #999;
}

.block {
  margin-bottom: 40px;
}

.section-title {
  font-family: "proxima-nova-soft",sans-serif;
  font-size: 2em;
  color: #fff;
  margin: 0;
  padding: 25px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 100;
}

.person {
  height: 400px;
  background: #3a3d42;
  color: #fff;
}

.name {
  width: auto;
  line-height: .5em;
  padding: 10px 0;
  margin-top: 150px;
  border-bottom: 1px solid #fff;
}

.health-section {
  background: #f55949;
  display: block;
  margin-bottom: 40px;
}

.location-section {
  background: #47b3e6;
}

.social-section {
  background: #9acc54;
}

.health h4 {
  color: #f55949;
}

.location h4 {
  color: #47b3e6;
}

.social h4 {
  color: #9acc54;
}

img {
  width: 300px;
}